<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <h1>
        <%= KindOfDay %>
    </h1>

    <ul>

        <%for (let i=0; i < newListItem.length; i++) { %>
            <li>
                <input type="checkbox">
                <span>
                    <%=newListItem[i];%>
                </span>
            </li>
        <%}%>

        <form action="/" method="post">
            <input type="text" required name="task" placeholder="Enter the Task">
            <button type="submit">+</button>
        </form>
    </ul>

   

</body>

</html>